.next
node_modules
dist
build
.git
.gitignore
.vscode
.env
.env.local
.DS_Store
kestra
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
coverage
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json
